
.dbSetup{
    
     text-align:center;
      display:grid;
      justify-content:center;
      align-items: center;
     
}
.dbSetup2{
    
    text-align:center;
     display:grid;
     justify-content:center;
     align-items: center;
    
}
