nav.navbar.navbar-default {
    margin-bottom: 0;
  }

  .navBarClass{
  background-color: #e4f5fc;
  box-shadow: none;
  height: 100px;
      
  }

  button.navbar-toggler{
    background-color:transparent;
  }